[submodule "catkin_ws/src/pgm_map_creator"]
	path = catkin_ws/src/pgm_map_creator
	url = https://github.com/udacity/pgm_map_creator.git
[submodule "catkin_ws/src/ira_laser_tools"]
	path = catkin_ws/src/ira_laser_tools
	url = https://github.com/iralabdisco/ira_laser_tools.git
	branch = kinetic
