<launch>
   <!--Map Server-->
   <arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
      <!--param name="frame_id" value="map"/-->
   </node>

   <!-- AMCL Node -->
   <node name="amcl" pkg="amcl" type="amcl" output="screen">
      <!--remap from="scan" to="scan_multi"/-->
      <remap from="scan" to="br_scan"/>
      <param name="odom_frame_id" value="odom"/>
      <param name="odom_model_type" value="diff"/>
      <param name="base_frame_id" value="base_footprint"/>
      <param name="global_frame_id" value="map"/>
      
      <!-- If you choose to define initial pose here -->
      <param name="initial_pose_x" value="0"/>
      <param name="initial_pose_y" value="0"/>
      <param name="initial_pose_a" value="0"/>
   </node>

</launch>
