<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- World File -->
    <arg name="world_file" default="$(find my_robot)/world/my_world.world"/>

    <arg name="robot_namespace" default="diff_bot"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0.0"/>

    <include file="$(find my_robot)/launch/skid_steer_diff_bot_base_laser.launch"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="spawn_diff_bot_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
    -y $(arg y)
    -z $(arg z)
    -Y $(arg yaw)
    -unpause
    -urdf
    -param robot_description
    -model $(arg robot_namespace)" />

</launch>